@using System.Globalization
@using ControleDeBar.Dominio.ModuloConta
@model FecharContaViewModel

@{
    ViewBag.Titulo = "Fechamento de Conta";
}

<div class="row">
    <form class="col-lg-5 col-xl-4" action="/Conta/FecharConfirmado/@Model.Id" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="NomeCliente">Nome do Cliente:</label>
            <input class="form-control" asp-for="NomeCliente" name="NomeCliente" id="NomeCliente" type="text" value="@Model.NomeCliente" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Mesa">Número da Mesa:</label>
            <input class="form-control" asp-for="Mesa" name="Mesa" id="Mesa" type="text" value="@Model.Mesa.Numero" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Garcom">Número da Mesa:</label>
            <input class="form-control" asp-for="Garcom" name="Garcom" id="Garcom" type="text" value="@Model.Garcom.Nome" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="DataAbertura">Data/Hora de Abertura:</label>
            <input class="form-control" asp-for="DataAbertura" name="DataAbertura" id="DataAbertura" type="text" value="@Model.DataAbertura" disabled>
        </div>

        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary px-4 me-1" asp-action="Index">Voltar</a>
            <button class="btn btn-success px-4" type="submit">Fechar</button>
        </div>
    </form>

    <div class="col-md-6">
        <div class="mb-3">
            <h4>Pedidos</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                @foreach (PedidoContaViewModel p in Model.Pedidos)
                {
                    <tbody>
                        <tr>
                            <td>@p.Produto.Nome</td>
                            <td>@p.Produto.Preco.ToString("F2", CultureInfo.CurrentCulture)</td>
                            <td>@p.Quantidade</td>
                            <td>@p.ValorPedido.ToString("F2", CultureInfo.CurrentCulture)</td>
                        </tr>
                    </tbody>
                }
            </table>
            <div>
                <label class="form-label">Valor Total da Conta:</label>
                <h4>@Model.ValorTotalConta.ToString("C2", CultureInfo.CurrentCulture)</h4>
            </div>
        </div>
    </div>
</div>