@using System.Globalization
@using ControleDeBar.Dominio.ModuloConta
@using ControleDeBar.Dominio.ModuloProduto
@model GerenciarPedidosViewModel

@{
    ViewBag.Titulo = "Gerenciamento de Pedidos";
}

<div class="row">
    <div class="col-lg-5 col-xl-4">
        <div class="mb-3">
            <label class="form-label">Nome do Cliente:</label>
            <input class="form-control" name="NomeCliente" id="NomeCliente" type="text" value="@Model.Conta.NomeCliente" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Número da Mesa:</label>
            <input class="form-control" name="Mesa" id="Mesa" type="text" value="@Model.Conta.Mesa.Numero" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Número da Mesa:</label>
            <input class="form-control" name="Garcom" id="Garcom" type="text" value="@Model.Conta.Garcom.Nome" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Data/Hora de Abertura:</label>
            <input class="form-control" name="DataAbertura" id="DataAbertura" type="text" value="@Model.Conta.DataAbertura" disabled>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <h4>Pedidos</h4>
            <form class="row g-3" asp-action="AdicionarPedido" asp-route-id="@Model.Conta.Id" method="post">
                <div class="col-md-9">
                    <label class="form-label">Produto: </label>
                    <select class="form-select" name="IDProduto" asp-items="@Model.ProdutosDisponiveis"></select>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Quantidade: </label>
                    <input type="number" min="0" value="1" name="Quantidade" class="form-control" />
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>

        @if (!Model.Conta.Pedidos.Any())
        {
            <p class="fw-semibold">Ainda não há nenhum pedido na conta...</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Valor Total</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                @foreach (PedidoContaViewModel p in Model.Conta.Pedidos)
                {
                    <tbody>
                        <tr>
                            <td valign="middle">@p.Produto.Nome</td>
                            <td valign="middle">@p.Produto.Preco.ToString("F2", new CultureInfo("pt-BR"))</td>
                            <td valign="middle">@p.Quantidade</td>
                            <td valign="middle">@p.ValorPedido.ToString("F2", new CultureInfo("pt-BR"))</td>
                            <td>
                                <form class="my-auto"
                                      asp-action="RemoverPedido"
                                      asp-route-id="@Model.Conta.Id"
                                      asp-route-IDPedido="@p.Id" method="post">
                                    <button class="d-flex btn btn-danger rounded-circle align-items-center justify-content-center"
                                            style="height: 35px; width: 35px" title="Remover">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <div>
                <label class="form-label">Valor Total da Conta:</label>
                <h4>@Model.Conta.ValorTotalConta.ToString("C2", new CultureInfo("pt-BR"))</h4>
            </div>
        }

    </div>

    <div class="container">
        <a class="btn btn-secondary px-4 me-1" asp-action="Index">Voltar</a>
    </div>

</div>